.p {
    padding: 0;
    margin: 0;
    font-weight: normal;
}

.size18px {
    font-size: 18px;
    line-height: 29px;
}

.size16px {
    font-size: 16px;
    line-height: 24px;
}

.size14px {
    font-size: 14px;
    line-height: 24px;
}
